.home{
  position: fixed; 
  height: 100%; 
  width: 100%; 
  top: 0;
  .itemIcon{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    // &.living{
    //   background-image: url('../assets/images/ball.png');
    // }
    // &.living-active{
    //   background-image: url('../assets/images/ball-active.png');
    // }
    // &.news{
    //   background-image: url('../assets/images/news.png');
    // }
    // &.news-active{
    //   background-image: url('../assets/images/news-active.png');
    // }
    // &.rank{
    //   background-image: url('../assets/images/rank.png');
    // }
    // &.rank-active{
    //   background-image: url('../assets/images/rank-active.png');
    // }
    // &.stats{
    //   background-image: url('../assets/images/stats.png');
    // }
    // &.stats-active{
    //   background-image: url('../assets/images/stats-active.png');
    // }
  }
}


